@import 'variables';
@import 'navbars';
@import 'home';


/* Default Body */

body {
	position: absolute;
	width: 100%;
	height: auto;
	margin: 0;
	min-height: 1000px;
	background-color: $primary-color;
	color: white;
}




